[Desktop Entry]
Name=elinks
Comment=Experimental Links www text browser
Comment[pl]=Eksperymentalna wersja tekstowej przeglądarki WWW Links 
Exec=elinks
Terminal=true
Icon=elinks
Categories=ConsoleOnly;Network;WebBrowser;
Type=Application
# vi: encoding=utf-8
